*.pyc
*.pyo
.DS_Store
*.pyc
*.pyc
evaluators/benchie/src/__pycache__/gold_annotations.cpython-39.pyc
evaluators/benchie/src/__pycache__/gold_annotations.cpython-39.pyc
evaluators/benchie/src/__pycache__/benchie.cpython-39.pyc
evaluators/benchie/src/__pycache__/utils.cpython-39.pyc
.DS_Store
